# Cleanning notebook

Let's first call the libraries I'll use :

In [1]:
data_path = "~/Documents/openclassroom/data/"

# On importe les librairies dont on aura besoin pour ce tp
import numpy as np
import pandas as pd
## plot : 
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = [15, 5]
## stat / model : 
from sklearn.model_selection import train_test_split

import itertools as IT

# 1. Import data : <!-- I have decided to extract the data labeled with the french nutriscore, to set a cleanning method and then decide the application I want to propose.  -->

In [21]:
filename = data_path+"en.openfoodfacts.org.products.csv"
# filename = data_path+"openfoodfacts_with_cholesterol.csv"
# df = pd.read_csv(filename,"\t")

## GET INDEX OF NUTRI SCORE IN COLUMNS : 
tmp = pd.read_csv(filename, sep = "\t").iloc[0,:].index
col_index_nutri_score_fr = np.where(tmp.index=="nutrition-score-fr_100g")[0][0]

In [74]:
def valid(chunks):
    for chunk in chunks:
        mask = ~chunk.iloc[:,p].isna().values
        if mask.all():
            yield chunk
        else:
            yield chunk.loc[mask]
            break

chunksize = 10 ** 5
chunks = pd.read_csv(filename, sep = "\t", low_memory=False, chunksize=chunksize, header=None)
df_original = pd.concat(valid(chunks))

In [83]:
df = df_original.drop(0, axis=0)
df.columns = df_original.loc[0,:]
n = df.shape[0]
df.head(3)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,abbreviated_product_name,generic_name,...,carbon-footprint-from-meat-or-fish_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g
4,0000000000100,http://world-en.openfoodfacts.org/product/0000...,del51,1444572561,2015-10-11T14:09:21Z,1444659212,2015-10-12T14:13:32Z,moutarde au moût de raisin,NaN,NaN,...,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0000000000949,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1523440813,2018-04-11T10:00:13Z,1565268412,2019-08-08T12:46:52Z,Salade de carottes râpées,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0000000001281,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1517830801,2018-02-05T11:40:01Z,1527070794,2018-05-23T10:19:54Z,Tarte noix de coco,NaN,NaN,...,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data is huge (65 166 products).
Let's first work on a sample of size 10 000, and then comment this part :

In [84]:
df = df.sample(10000, replace = False)
df.shape

(10000, 184)

## 1.1 Drop Missing values : 
Let's remove the variables with too much NaN. First, I remove the columns filled with NaNs (there is no information in them). 

Then, I have chosen to keep the 1st quantile value of the number of NaNs in each variables : 
* if the variable has less NaNs than this quantile, I will estimate the missing value with KNN procedure, 
* else, I drop the corresponding column.

In [85]:
df = df.copy()
## DROP COL FILLED WITH NANs
df = df.loc[:,df.isna().sum(axis=0)<n]
print("There are ", sum(df.isna().sum(axis=0)==n), "variables without any information (all NaNs)")

## DROP COL WITH MORE NANs THAN THE 1st QUANTILE :
nan_repartition = df.isna().sum(axis=0)
# nan_threshold = nan_repartition.quantile(0.25)
nan_threshold = nan_repartition.mean()
print("I drop variables with more than", nan_threshold, "NaNs")
df = df.drop(df.columns[nan_repartition>nan_threshold], axis = 1)
df.describe()

There are  0 variables without any information (all NaNs)
I drop variables with more than 7173.663043478261 NaNs

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,brands,brands_tags,...,fiber_100g,proteins_100g,salt_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,potassium_100g,calcium_100g,iron_100g,nutrition-score-fr_100g
count,10000,10000,10000,10000,10000,10000,10000,9993,5256,5256,...,9484,10000,10000,10000,7376,7439,3507,9183,9216,10000
unique,10000,10000,105,8805,8805,8764,8764,8832,1607,1500,...,215,1108,1428,1407,691,373,614,404,582,49
top,0036800527768,http://world-en.openfoodfacts.org/product/0030...,org-database-usda,1489078155,2020-04-23T20:46:32Z,1587627242,2020-11-14T15:15:20Z,Ice cream,Kroger,kroger,...,0,0,0,0,0,0,0,0,0,14
freq,1,1,4552,4,4,5,5,35,194,195,...,3333,1504,1142,1142,4064,4791,402,3169,2940,557

## 1.2 Exploration of the different values :

Then, I used the description data in https://world.openfoodfacts.org/data/data-fields.txt, to separate the global data frame into sub-frames. 
Note : to transform the .txt into these lists of variables, I used the bash command : 

    cat data-fields.txt | cut -d " " -f 1 | sed s/://g | sed s/\$/\",/g | sed s/\^/\"/g > data_fields2.txt

In [86]:
# USE BASH cat data-fields.txt | cut -d " " -f 1 | sed s/://g | sed s/\$/\",/g | sed s/\^/\"/g > data_fields2.txt
list_of_characteristics = ["code","url","creator","created_t","created_datetime","last_modified_t",
                           "last_modified_datetime","product_name","generic_name","quantity"]
list_of_tags = ["packaging", "packaging_tags", "brands", "brands_tags", "categories",
                "categories_tags", "categories_fr","origins", "origins_tags","manufacturing_places",
                "manufacturing_places_tags", "labels", "labels_tags", "labels_fr", "emb_codes", 
                "emb_codes_tags", "first_packaging_code_geo", "cities", "cities_tags", 
                "purchase_places", "stores", "countries", "countries_tags", "countries_fr"]
list_of_ingredients = ["ingredients_text", "traces", "traces_tags"]
list_of_misc = ["serving_size", "no_nutriments", "additives_n", "additives", "additives_tags", 
                "ingredients_from_palm_oil_n", "ingredients_from_palm_oil", 
                "ingredients_from_palm_oil_tags", "ingredients_that_may_be_from_palm_oil_n", 
                "ingredients_that_may_be_from_palm_oil", "ingredients_that_may_be_from_palm_oil_tags", 
                "nutrition_grade_fr", "main_category", "main_category_fr", "image_url", 
                "image_small_url"]
list_of_nutri_facts = ["energy_100g","energy-kj_100g","energy-kcal_100g","proteins_100g","casein_100g",
                       "serum-proteins_100g","nucleotides_100g","carbohydrates_100g","sugars_100g",
                       "sucrose_100g","glucose_100g","fructose_100g","lactose_100g","maltose_100g",
                       "maltodextrins_100g","starch_100g","polyols_100g","fat_100g","saturated-fat_100g",
                       "butyric-acid_100g","caproic-acid_100g","caprylic-acid_100g","capric-acid_100g",
                       "lauric-acid_100g","myristic-acid_100g","palmitic-acid_100g","stearic-acid_100g",
                       "arachidic-acid_100g","behenic-acid_100g","lignoceric-acid_100g","cerotic-acid_100g",
                       "montanic-acid_100g","melissic-acid_100g","monounsaturated-fat_100g",
                       "polyunsaturated-fat_100g","omega-3-fat_100g","alpha-linolenic-acid_100g",
                       "eicosapentaenoic-acid_100g","docosahexaenoic-acid_100g","omega-6-fat_100g",
                       "linoleic-acid_100g","arachidonic-acid_100g","gamma-linolenic-acid_100g",
                       "dihomo-gamma-linolenic-acid_100g","omega-9-fat_100g","oleic-acid_100g",
                       "elaidic-acid_100g","gondoic-acid_100g","mead-acid_100g","erucic-acid_100g",
                       "nervonic-acid_100g","trans-fat_100g","cholesterol_100g","fiber_100g","sodium_100g",
                       "alcohol_100g","vitamin-a_100g","vitamin-d_100g","vitamin-e_100g","vitamin-k_100g",
                       "vitamin-c_100g","vitamin-b1_100g","vitamin-b2_100g","vitamin-pp_100g",
                       "vitamin-b6_100g","vitamin-b9_100g","vitamin-b12_100g","biotin_100g",
                       "pantothenic-acid_100g","silica_100g","bicarbonate_100g","potassium_100g",
                       "chloride_100g","calcium_100g","phosphorus_100g","iron_100g","magnesium_100g",
                       "zinc_100g","copper_100g","manganese_100g","fluoride_100g","selenium_100g",
                       "chromium_100g","molybdenum_100g","iodine_100g","caffeine_100g","taurine_100g",
                       "ph_100g","fruits-vegetables-nuts_100g","carbon-footprint_100g",
                       "nutrition-score-fr_100g","nutrition-score-uk_100g"]

# df_caracteristics = df[df.columns.intersection(list_of_characteristics)]
# df_tags = df[df.columns.intersection(list_of_tags)]
# df_ingredients = df[df.columns.intersection(list_of_ingredients)]
# df_misc = df[df.columns.intersection(list_of_misc)]
df_nutri = df[df.columns.intersection(list_of_nutri_facts)]
df_nutri.describe()

,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,potassium_100g,calcium_100g,iron_100g,nutrition-score-fr_100g
count,9958,10000,10000,10000,9261,9353,9997,10000,9484,10000,10000,7376,7439,3507,9183,9216,10000
unique,764,788,1440,944,93,165,2165,1593,215,1108,1407,691,373,614,404,582,49
top,500,2092,0,0,0,0,0,0,0,0,0,0,0,0,0,0,14
freq,341,341,2333,3818,9069,5634,526,1723,3333,1504,1142,4064,4791,402,3169,2940,557

In [179]:
def print_values_from_list_of_var(df_,list_of_var):
    for var in list_of_var : 
        if var in df_.columns:
            print("--",var)
            tmp = df_[df_.columns.intersection([var])]
            var_values = tmp.iloc[(~pd.isna(tmp).values)]
            if len(var_values) < 8:
                print("values = ", var_values.values)
            else :
                print("ex of values = ", 
                      np.array(tmp.iloc[(~pd.isna(tmp).values)].sample(n=8).values).transpose()[0])
        else : 
            print("--", var, " : no data")
            
# list_of_var = list_of_tags
list_of_var = list_of_nutri_facts
print_values_from_list_of_var(df,list_of_var)

-- energy_100g
ex of values =  ['243' '1393' '1941' '121' '1464' '1586' '920' '1569']
-- energy-kj_100g  : no data
-- energy-kcal_100g
ex of values =  ['529' '467' '76' '49' '24' '63' '388' '122']
-- proteins_100g
ex of values =  ['7.89' '25' '5.41' '25' '21.9' '4.8' '3.54' '5']
-- casein_100g  : no data
-- serum-proteins_100g  : no data
-- nucleotides_100g  : no data
-- carbohydrates_100g
ex of values =  ['3.57' '80' '63.16' '5.42' '44.23' '50.88' '10.33' '5.36']
-- sugars_100g
ex of values =  ['73.33' '0' '23.53' '0' '3.57' '4.8' '0' '3.57']
-- sucrose_100g  : no data
-- glucose_100g  : no data
-- fructose_100g  : no data
-- lactose_100g  : no data
-- maltose_100g  : no data
-- maltodextrins_100g  : no data
-- starch_100g  : no data
-- polyols_100g  : no data
-- fat_100g
ex of values =  ['0.2' '32.14' '6' '0.97' '100' '5.34' '3.57' '0']
-- saturated-fat_100g
ex of values =  ['26.83' '0' '0' '3.45' '0' '3.57' '6.25' '7.14']
-- butyric-acid_100g  : no data
-- caproic-acid_100g  : no data
-- caprylic-acid_100g  : no data
-- capric-acid_100g  : no data
-- lauric-acid_100g  : no data
-- myristic-acid_100g  : no data
-- palmitic-acid_100g  : no data
-- stearic-acid_100g  : no data
-- arachidic-acid_100g  : no data
-- behenic-acid_100g  : no data
-- lignoceric-acid_100g  : no data
-- cerotic-acid_100g  : no data
-- montanic-acid_100g  : no data
-- melissic-acid_100g  : no data
-- monounsaturated-fat_100g  : no data
-- polyunsaturated-fat_100g  : no data
-- omega-3-fat_100g  : no data
-- alpha-linolenic-acid_100g  : no data
-- eicosapentaenoic-acid_100g  : no data
-- docosahexaenoic-acid_100g  : no data
-- omega-6-fat_100g  : no data
-- linoleic-acid_100g  : no data
-- arachidonic-acid_100g  : no data
-- gamma-linolenic-acid_100g  : no data
-- dihomo-gamma-linolenic-acid_100g  : no data
-- omega-9-fat_100g  : no data
-- oleic-acid_100g  : no data
-- elaidic-acid_100g  : no data
-- gondoic-acid_100g  : no data
-- mead-acid_100g  : no data
-- erucic-acid_100g  : no data
-- nervonic-acid_100g  : no data
-- trans-fat_100g
ex of values =  ['0' '0' '0' '0' '0' '0' '0' '0']
-- cholesterol_100g
ex of values =  ['0' '0.071' '0.123' '0' '0' '0.1' '0' '0']
-- fiber_100g
ex of values =  ['1.6' '0' '0' '2.3' '0' '2' '0' '0.9']
-- sodium_100g
ex of values =  ['2.393' '0.393' '0.179' '0.301' '0.171704' '0.196' '0.051' '0.23']
-- alcohol_100g  : no data
-- vitamin-a_100g
ex of values =  ['0.0001125' '0.0004839' '0.0001413' '0' '0.0001305' '0.0000075' '0'
 '0.0001407']
-- vitamin-d_100g  : no data
-- vitamin-e_100g  : no data
-- vitamin-k_100g  : no data
-- vitamin-c_100g
ex of values =  ['0.0017' '0' '0.15' '0' '0.003' '0' '0' '0.0014']
-- vitamin-b1_100g  : no data
-- vitamin-b2_100g  : no data
-- vitamin-pp_100g  : no data
-- vitamin-b6_100g  : no data
-- vitamin-b9_100g  : no data
-- vitamin-b12_100g  : no data
-- biotin_100g  : no data
-- pantothenic-acid_100g  : no data
-- silica_100g  : no data
-- bicarbonate_100g  : no data
-- potassium_100g
ex of values =  ['0.246' '0.093' '0.033' '0.125' '0.128' '0.393' '0' '0.076']
-- chloride_100g  : no data
-- calcium_100g
ex of values =  ['0.022' '0' '0.133' '0.08' '0.013' '0.028' '0.143' '0.2']
-- phosphorus_100g  : no data
-- iron_100g
ex of values =  ['0.00254' '0.00222' '0.00109' '0.00108' '0' '0.0024' '0.00104' '0.00182']
-- magnesium_100g  : no data
-- zinc_100g  : no data
-- copper_100g  : no data
-- manganese_100g  : no data
-- fluoride_100g  : no data
-- selenium_100g  : no data
-- chromium_100g  : no data
-- molybdenum_100g  : no data
-- iodine_100g  : no data
-- caffeine_100g  : no data
-- taurine_100g  : no data
-- ph_100g  : no data
-- fruits-vegetables-nuts_100g  : no data
-- carbon-footprint_100g  : no data
-- nutrition-score-fr_100g
ex of values =  ['7' '-7' '0' '14' '0' '-5' '16' '22']
-- nutrition-score-uk_100g  : no data

This variable-type analysis allowed me to select the non-relevant variables for my study, such as the dates, or the name of the person that put the product in the database. Let's remove these :

In [292]:
interest_var = pd.Index(["countries","additives_n","ingredients_from_palm_oil_n",
                "ingredients_that_may_be_from_palm_oil_tags"])
interest_var = interest_var.append(df.columns.intersection(list_of_nutri_facts))

# interest_var = df.columns.intersection(list_of_nutri_facts)

data = df[df.columns.intersection(interest_var)].copy()
# data = data.fillna(pd.NA)

In [293]:
float_var = list(data.columns.intersection(list_of_nutri_facts))
float_var += ["additives_n","ingredients_from_palm_oil_n",
                "ingredients_that_may_be_from_palm_oil_tags"]
float_var

['energy-kcal_100g',
 'energy_100g',
 'fat_100g',
 'saturated-fat_100g',
 'trans-fat_100g',
 'cholesterol_100g',
 'carbohydrates_100g',
 'sugars_100g',
 'fiber_100g',
 'proteins_100g',
 'sodium_100g',
 'vitamin-a_100g',
 'vitamin-c_100g',
 'potassium_100g',
 'calcium_100g',
 'iron_100g',
 'nutrition-score-fr_100g',
 'additives_n',
 'ingredients_from_palm_oil_n',
 'ingredients_that_may_be_from_palm_oil_tags']

In [295]:
## GESTION DES TYPES DANS DATA !!
## FLOATS (and INTs)
float_var = data.columns.intersection(list_of_nutri_facts + ["additives_n",
                                                             "ingredients_from_palm_oil_n",
                                                             "ingredients_that_may_be_from_palm_oil_tags"])
data[float_var] = data[float_var].astype("float")
## CATEGORY
data["nutrition-score-fr_100g"] = data["nutrition-score-fr_100g"].astype("category")
# data.dtypes

In [269]:
data[float_var].astype("float")

,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,potassium_100g,calcium_100g,iron_100g,nutrition-score-fr_100g
17251,54.0000,226.0,0.00,0.00,0.0,0.000,13.7500,13.7500,0.0,0.00,0.015000,0.000000,0.0000,0.000,0.000,0.00000,18.0
64144,59.0000,247.0,0.00,0.00,0.0,0.000,17.6500,5.8800,0.0,0.00,1.588000,NaN,NaN,NaN,NaN,NaN,11.0
68783,33.3333,139.0,0.00,0.00,0.0,0.000,6.6667,3.3333,0.0,0.00,0.533333,NaN,NaN,0.043,0.033,0.00000,5.0
91374,41.0000,172.0,0.81,0.20,0.0,0.004,6.5000,0.8100,0.4,1.63,0.248000,NaN,NaN,0.150,0.000,0.00000,1.0
16136,375.0000,1569.0,0.00,0.00,0.0,0.000,100.0000,75.0000,0.0,0.00,0.000000,0.000000,0.0000,NaN,0.000,0.00000,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57393,205.0000,858.0,11.54,6.41,0.0,0.038,23.0800,21.7900,1.3,3.85,0.045000,0.000116,0.0000,NaN,0.077,0.00138,11.0
64753,181.0000,757.0,0.60,0.10,NaN,NaN,36.5000,36.5000,NaN,4.00,0.016000,NaN,NaN,NaN,NaN,NaN,3.0
15275,36.0000,151.0,0.00,0.00,0.0,0.000,7.2000,2.4000,0.8,0.80,0.336000,0.000720,0.0019,NaN,0.016,0.00058,-2.0
51026,357.0000,1494.0,1.79,0.00,0.0,0.000,75.0000,1.7900,3.6,10.71,0.000000,0.000000,0.0000,NaN,0.000,0.00321,-4.0
26736,375.0000,1569.0,8.33,0.00,0.0,0.000,70.8300,0.0000,4.2,4.17,1.667000,0.000000,0.0000,1.042,0.000,0.00000,3.0

In [189]:
## CREATION OF DICT KEY=COL, VAL=DTYPE 
dict_dtype = {"countries":str,"additives_n":int,"ingredients_from_palm_oil_n":bool,
                "ingredients_that_may_be_from_palm_oil_tags":bool}
for var in df.columns.intersection(list_of_nutri_facts) : 
    dict_dtype[var]=float
# data = df[df.columns.intersection(dict_dtype.keys())]

,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,potassium_100g,calcium_100g,iron_100g,nutrition-score-fr_100g
17251,54,226,0,0,0,0,13.75,13.75,0,0,0.015,0,0,0,0,0,18
64144,59,247,0,0,0,0,17.65,5.88,0,0,1.588,NaN,NaN,NaN,NaN,NaN,11
68783,33.3333,139,0,0,0,0,6.6667,3.3333,0,0,0.5333333,NaN,NaN,0.043,0.033,0,5
91374,41,172,0.81,0.2,0,0.004,6.5,0.81,0.4,1.63,0.248,NaN,NaN,0.15,0,0,1
16136,375,1569,0,0,0,0,100,75,0,0,0,0,0,NaN,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57393,205,858,11.54,6.41,0,0.038,23.08,21.79,1.3,3.85,0.045,0.0001155,0,NaN,0.077,0.00138,11
64753,181,757,0.6,0.1,NaN,NaN,36.5,36.5,NaN,4,0.016,NaN,NaN,NaN,NaN,NaN,3
15275,36,151,0,0,0,0,7.2,2.4,0.8,0.8,0.336,0.00072,0.0019,NaN,0.016,0.00058,-2
51026,357,1494,1.79,0,0,0,75,1.79,3.6,10.71,0,0,0,NaN,0,0.00321,-4
26736,375,1569,8.33,0,0,0,70.83,0,4.2,4.17,1.667,0,0,1.042,0,0,3

In [184]:

data = df[df.columns.intersection(interest_var)]
dict_dtype.keys()

dict_keys(['countries', 'additives_n', 'ingredients_from_palm_oil_n', 'ingredients_that_may_be_from_palm_oil_tags', 'energy-kcal_100g', 'energy_100g', 'fat_100g', 'saturated-fat_100g', 'trans-fat_100g', 'cholesterol_100g', 'carbohydrates_100g', 'sugars_100g', 'fiber_100g', 'proteins_100g', 'sodium_100g', 'vitamin-a_100g', 'vitamin-c_100g', 'potassium_100g', 'calcium_100g', 'iron_100g', 'nutrition-score-fr_100g'])

# 1.3 Errors in data :
We need to check if there are : 
* lexical errors
* irregularity error
* Formatage error
* Duplicates
* Outliers

In [171]:
data.head(3)

,additives_n,ingredients_from_palm_oil_n,energy-kcal_100g,energy_100g,fat_100g,saturated-fat_100g,trans-fat_100g,cholesterol_100g,carbohydrates_100g,sugars_100g,fiber_100g,proteins_100g,sodium_100g,vitamin-a_100g,vitamin-c_100g,potassium_100g,calcium_100g,iron_100g,nutrition-score-fr_100g
17251,6,0,54,226,0,0,0,0,13.75,13.75,0,0,0.015,0,0,0,0,0,18
64144,2,0,59,247,0,0,0,0,17.65,5.88,0,0,1.588,NaN,NaN,NaN,NaN,NaN,11
68783,1,0,33.3333,139,0,0,0,0,6.6667,3.3333,0,0,0.5333333,NaN,NaN,0.043,0.033,0,5

In [174]:
colname = "additives_n"
possible_values = range(35) # max = 30, if more -> outlier
coltype = int

index_hand_check = []
col_values = data["additives_n"].drop_duplicates().values
## check type : 

## check possible values : 
for val in col_values :
    if val not in possible_values :
        print(val)
        val_index = np.where(data["additives_n"]==val)
        print(val_index)
#         index_hand_check.join(val_index)

6
(array([   0,   39,   87,   94,   97,  121,  159,  166,  171,  177,  237,
        241,  257,  277,  291,  292,  323,  346,  378,  401,  414,  448,
        475,  549,  551,  570,  626,  648,  663,  679,  689,  691,  701,
        702,  773,  774,  837,  889,  894,  898,  906,  939,  976, 1004,
       1007, 1034, 1054, 1059, 1086, 1103, 1128, 1175, 1217, 1218, 1230,
       1232, 1258, 1305, 1329, 1337, 1341, 1364, 1442, 1458, 1462, 1468,
       1479, 1492, 1623, 1625, 1652, 1674, 1700, 1718, 1719, 1732, 1758,
       1786, 1791, 1807, 1813, 1817, 1835, 1879, 1927, 1991, 1996, 2008,
       2023, 2051, 2082, 2088, 2098, 2108, 2125, 2147, 2166, 2219, 2222,
       2271, 2284, 2293, 2307, 2367, 2378, 2469, 2486, 2495, 2502, 2517,
       2524, 2548, 2609, 2632, 2636, 2649, 2662, 2670, 2676, 2677, 2687,
       2703, 2721, 2731, 2740, 2741, 2743, 2805, 2831, 2894, 2971, 2991,
       3029, 3051, 3083, 3100, 3103, 3133, 3137, 3209, 3210, 3213, 3248,
       3255, 3268, 3277, 3282, 3322, 3335, 3356, 3490, 3497, 3501, 3507,
       3514, 3521, 3534, 3555, 3580, 3590, 3592, 3606, 3624, 3633, 3656,
       3773, 3795, 3802, 3819, 3823, 3870, 3875, 3910, 3946, 3958, 3996,
       4038, 4041, 4096, 4110, 4123, 4125, 4136, 4156, 4187, 4196, 4216,
       4261, 4274, 4290, 4364, 4371, 4375, 4399, 4413, 4442, 4444, 4457,
       4474, 4489, 4529, 4572, 4577, 4591, 4657, 4664, 4682, 4692, 4712,
       4733, 4750, 4758, 4760, 4761, 4767, 4771, 4773, 4801, 4837, 4893,
       4900, 4913, 4918, 4923, 4932, 4986, 5011, 5041, 5045, 5076, 5083,
       5094, 5101, 5102, 5103, 5123, 5183, 5210, 5214, 5239, 5253, 5259,
       5266, 5275, 5293, 5311, 5389, 5394, 5452, 5456, 5554, 5557, 5575,
       5595, 5680, 5685, 5698, 5711, 5764, 5833, 5845, 5883, 5891, 5903,
       5918, 5924, 5928, 5938, 5970, 6044, 6054, 6064, 6065, 6087, 6090,
       6091, 6103, 6122, 6147, 6152, 6165, 6273, 6276, 6303, 6339, 6384,
       6405, 6441, 6456, 6514, 6549, 6558, 6583, 6591, 6614, 6663, 6673,
       6696, 6699, 6705, 6711, 6715, 6744, 6751, 6753, 6776, 6782, 6815,
       6866, 6884, 6946, 6954, 6972, 7014, 7029, 7035, 7041, 7047, 7057,
       7065, 7070, 7075, 7116, 7127, 7128, 7138, 7184, 7275, 7277, 7300,
       7308, 7309, 7322, 7331, 7389, 7396, 7399, 7476, 7485, 7511, 7584,
       7608, 7617, 7655, 7692, 7780, 7828, 7843, 7887, 7900, 7908, 7927,
       7943, 7980, 7981, 8016, 8022, 8039, 8071, 8088, 8089, 8126, 8143,
       8145, 8149, 8195, 8210, 8212, 8223, 8232, 8257, 8270, 8286, 8318,
       8334, 8346, 8353, 8355, 8357, 8442, 8448, 8453, 8456, 8458, 8502,
       8504, 8535, 8585, 8738, 8755, 8787, 8801, 8811, 8813, 8835, 8875,
       8891, 8928, 8951, 8960, 8963, 9026, 9030, 9037, 9077, 9102, 9124,
       9150, 9167, 9174, 9205, 9213, 9231, 9238, 9242, 9258, 9280, 9320,
       9395, 9397, 9398, 9420, 9459, 9467, 9482, 9499, 9507, 9541, 9571,
       9585, 9602, 9605, 9617, 9636, 9648, 9654, 9732, 9741, 9779, 9787,
       9811, 9825, 9827, 9890, 9930, 9931, 9940, 9956]),)
2
(array([   1,    8,   10, ..., 9977, 9980, 9995]),)
1
(array([   2,   12,   14, ..., 9983, 9987, 9991]),)
3
(array([   3,   32,   41,   43,   99,  109,  115,  167,  189,  210,  228,
        232,  243,  250,  278,  283,  288,  311,  312,  331,  364,  383,
        388,  396,  423,  431,  474,  481,  485,  486,  505,  526,  536,
        548,  554,  593,  600,  615,  622,  627,  632,  643,  676,  682,
        690,  696,  718,  731,  748,  790,  807,  831,  836,  845,  890,
        896,  919,  923,  952,  968,  973,  982, 1011, 1031, 1035, 1037,
       1041, 1045, 1048, 1050, 1051, 1075, 1106, 1108, 1113, 1119, 1131,
       1170, 1178, 1193, 1195, 1197, 1213, 1224, 1227, 1228, 1246, 1250,
       1257, 1260, 1262, 1270, 1276, 1278, 1301, 1331, 1333, 1345, 1350,
       1361, 1373, 1375, 1389, 1400, 1416, 1417, 1454, 1455, 1493, 1499,
       1504, 1509, 1515, 1520, 1523, 1533, 1534, 1547, 1564, 1566, 1569,
       1576, 1615, 1616, 1632, 1684, 1691, 1709, 1728, 1736, 1740, 1741,
       1743, 1751, 1752, 1759, 1796, 1826, 1830, 1850, 1853, 1857, 1862,
       1865, 1880, 1909, 1915, 1941, 1975, 1978, 1982, 1986, 1993, 2015,
       2016, 2040, 2059, 2061, 2063, 2100, 2104, 2106, 2120, 2155, 2161,
       2170, 2173, 2192, 2216, 2233, 2240, 2248, 2264, 2279, 2283, 2301,
       2335, 2339, 2352, 2353, 2375, 2380, 2419, 2422, 2431, 2462, 2474,
       2479, 2491, 2492, 2521, 2527, 2541, 2562, 2577, 2592, 2593, 2596,
       2610, 2634, 2648, 2678, 2681, 2694, 2698, 2751, 2752, 2757, 2767,
       2782, 2801, 2813, 2824, 2838, 2841, 2842, 2848, 2863, 2871, 2891,
       2903, 2930, 2938, 2943, 2949, 2953, 2954, 2962, 2964, 2980, 2982,
       2994, 3006, 3030, 3044, 3047, 3052, 3056, 3068, 3074, 3088, 3105,
       3106, 3121, 3123, 3131, 3143, 3147, 3155, 3166, 3169, 3178, 3188,
       3196, 3207, 3222, 3290, 3301, 3314, 3332, 3350, 3354, 3357, 3366,
       3387, 3401, 3405, 3415, 3422, 3434, 3436, 3462, 3479, 3488, 3506,
       3572, 3587, 3609, 3611, 3614, 3615, 3631, 3641, 3644, 3646, 3651,
       3658, 3690, 3702, 3713, 3726, 3745, 3757, 3765, 3768, 3790, 3792,
       3811, 3818, 3839, 3864, 3871, 3886, 3901, 3909, 3919, 3920, 3925,
       3948, 3954, 3955, 3956, 3969, 3974, 4006, 4015, 4022, 4040, 4053,
       4063, 4078, 4083, 4104, 4107, 4121, 4134, 4141, 4160, 4164, 4183,
       4186, 4191, 4223, 4237, 4239, 4270, 4279, 4283, 4320, 4330, 4335,
       4353, 4372, 4379, 4405, 4407, 4459, 4462, 4483, 4494, 4497, 4502,
       4509, 4517, 4535, 4537, 4545, 4557, 4561, 4564, 4567, 4569, 4576,
       4579, 4581, 4595, 4613, 4621, 4623, 4627, 4632, 4638, 4658, 4661,
       4667, 4687, 4691, 4703, 4714, 4724, 4779, 4792, 4800, 4808, 4827,
       4866, 4870, 4874, 4897, 4915, 4922, 4952, 4955, 4983, 5006, 5026,
       5044, 5052, 5108, 5141, 5144, 5153, 5154, 5167, 5168, 5184, 5206,
       5211, 5224, 5231, 5237, 5244, 5251, 5256, 5261, 5274, 5281, 5282,
       5313, 5314, 5315, 5339, 5344, 5351, 5365, 5369, 5380, 5398, 5414,
       5417, 5427, 5432, 5434, 5444, 5445, 5449, 5460, 5504, 5513, 5531,
       5536, 5546, 5592, 5603, 5607, 5615, 5620, 5627, 5636, 5643, 5655,
       5660, 5669, 5670, 5736, 5737, 5740, 5749, 5770, 5773, 5777, 5779,
       5785, 5799, 5802, 5809, 5811, 5814, 5821, 5842, 5862, 5870, 5871,
       5884, 5885, 5892, 5926, 5932, 5936, 5940, 5945, 5946, 5948, 5949,
       5966, 5978, 5997, 6011, 6014, 6017, 6021, 6042, 6043, 6074, 6079,
       6080, 6084, 6101, 6106, 6109, 6131, 6137, 6163, 6168, 6186, 6210,
       6220, 6221, 6228, 6233, 6260, 6261, 6262, 6280, 6296, 6313, 6322,
       6333, 6336, 6381, 6390, 6426, 6463, 6470, 6486, 6505, 6512, 6546,
       6553, 6562, 6569, 6571, 6574, 6577, 6587, 6589, 6612, 6628, 6640,
       6645, 6653, 6666, 6688, 6691, 6700, 6707, 6712, 6714, 6717, 6752,
       6786, 6792, 6810, 6812, 6825, 6830, 6839, 6887, 6915, 6928, 6951,
       6964, 6969, 6977, 6991, 6998, 7001, 7018, 7027, 7030, 7038, 7052,
       7068, 7096, 7097, 7104, 7118, 7133, 7136, 7140, 7143, 7162, 7168,
       7170, 7194, 7199, 7200, 7214, 7218, 7232, 7238, 7242, 7248, 7252,
       7254, 7272, 7282, 7292, 7301, 7307, 7336, 7338, 7344, 7349, 7368,
       7392, 7393, 7398, 7445, 7451, 7455, 7488, 7490, 7496, 7522, 7523,
       7528, 7533, 7542, 7555, 7567, 7571, 7609, 7611, 7612, 7624, 7631,
       7637, 7646, 7648, 7654, 7657, 7668, 7670, 7679, 7681, 7686, 7699,
       7700, 7702, 7710, 7721, 7759, 7770, 7776, 7779, 7789, 7795, 7814,
       7834, 7841, 7862, 7880, 7888, 7890, 7901, 7917, 7956, 7977, 7991,
       7995, 7996, 7997, 8045, 8055, 8062, 8101, 8122, 8166, 8183, 8188,
       8222, 8228, 8230, 8241, 8254, 8261, 8262, 8269, 8273, 8284, 8296,
       8312, 8316, 8323, 8343, 8348, 8352, 8360, 8383, 8386, 8398, 8401,
       8411, 8424, 8430, 8441, 8460, 8481, 8490, 8494, 8495, 8497, 8517,
       8529, 8542, 8550, 8566, 8572, 8599, 8605, 8608, 8614, 8619, 8639,
       8641, 8644, 8649, 8651, 8658, 8673, 8680, 8681, 8685, 8692, 8698,
       8717, 8719, 8736, 8739, 8773, 8781, 8812, 8814, 8821, 8831, 8839,
       8853, 8860, 8880, 8897, 8900, 8924, 8938, 8941, 8985, 8996, 8998,
       9008, 9017, 9022, 9028, 9035, 9048, 9080, 9081, 9086, 9108, 9122,
       9131, 9132, 9137, 9139, 9178, 9186, 9215, 9221, 9223, 9254, 9298,
       9301, 9307, 9312, 9321, 9333, 9343, 9346, 9354, 9363, 9387, 9454,
       9462, 9468, 9476, 9490, 9508, 9512, 9529, 9536, 9540, 9552, 9577,
       9579, 9587, 9597, 9623, 9639, 9642, 9644, 9655, 9666, 9673, 9687,
       9700, 9711, 9726, 9727, 9753, 9756, 9769, 9774, 9778, 9785, 9804,
       9809, 9821, 9858, 9859, 9861, 9873, 9885, 9895, 9896, 9909, 9910,
       9913, 9947, 9951, 9954, 9970, 9988, 9994]),)
8
(array([   4,   26,   28,  108,  146,  218,  238,  275,  297,  308,  357,
        403,  418,  443,  483,  514,  520,  539,  541,  580,  595,  639,
        664,  668,  670,  705,  752,  787,  789,  792,  796,  805,  825,
        872,  913,  933,  950,  988,  999, 1098, 1156, 1216, 1219, 1225,
       1306, 1323, 1339, 1376, 1434, 1446, 1456, 1477, 1500, 1545, 1572,
       1588, 1646, 1670, 1688, 1739, 1812, 1863, 1869, 1874, 1901, 1923,
       1935, 1962, 2046, 2049, 2073, 2087, 2119, 2137, 2150, 2151, 2182,
       2214, 2230, 2320, 2377, 2394, 2418, 2504, 2510, 2553, 2575, 2630,
       2643, 2664, 2711, 2754, 2851, 2862, 2872, 2885, 2916, 2929, 2969,
       2987, 3081, 3150, 3175, 3246, 3362, 3371, 3376, 3550, 3602, 3671,
       3715, 3738, 3805, 3843, 3874, 3943, 3949, 3972, 3976, 3994, 4029,
       4086, 4093, 4114, 4118, 4122, 4148, 4151, 4172, 4202, 4206, 4318,
       4322, 4331, 4355, 4388, 4390, 4522, 4549, 4607, 4625, 4701, 4759,
       4769, 4783, 4796, 4982, 4993, 5004, 5038, 5053, 5078, 5088, 5138,
       5155, 5160, 5195, 5222, 5242, 5284, 5286, 5299, 5305, 5336, 5341,
       5377, 5383, 5384, 5410, 5421, 5446, 5450, 5500, 5527, 5555, 5562,
       5594, 5612, 5630, 5635, 5684, 5725, 5815, 5843, 5889, 5944, 5979,
       5988, 6005, 6020, 6073, 6099, 6115, 6139, 6161, 6185, 6222, 6223,
       6292, 6302, 6353, 6395, 6469, 6480, 6542, 6548, 6556, 6677, 6701,
       6702, 6764, 6799, 6840, 6854, 6927, 6971, 6973, 6981, 6987, 6994,
       7010, 7055, 7125, 7278, 7306, 7326, 7357, 7407, 7510, 7518, 7535,
       7563, 7569, 7574, 7650, 7690, 7709, 7725, 7735, 7739, 7740, 7821,
       7852, 7869, 7975, 8046, 8078, 8102, 8134, 8211, 8275, 8354, 8365,
       8366, 8375, 8412, 8428, 8479, 8492, 8524, 8530, 8579, 8581, 8618,
       8643, 8656, 8671, 8687, 8808, 8840, 8842, 8857, 8902, 8929, 8956,
       8970, 8983, 8997, 9003, 9018, 9050, 9073, 9149, 9157, 9180, 9206,
       9227, 9229, 9236, 9240, 9276, 9294, 9315, 9317, 9330, 9360, 9392,
       9421, 9422, 9472, 9474, 9516, 9589, 9595, 9624, 9626, 9656, 9665,
       9730, 9731, 9762, 9851, 9884, 9898, 9903, 9962, 9967]),)
4
(array([   5,    9,   27,   30,   35,   36,   40,   52,   58,   59,   62,
         64,   67,  112,  140,  183,  192,  229,  235,  256,  270,  306,
        337,  349,  352,  358,  376,  402,  415,  425,  434,  444,  457,
        467,  476,  507,  518,  578,  582,  594,  625,  629,  630,  642,
        654,  665,  673,  675,  677,  700,  727,  739,  761,  775,  791,
        811,  822,  829,  843,  852,  853,  881,  888,  891,  892,  916,
        935,  947,  954,  989, 1005, 1032, 1052, 1053, 1063, 1069, 1080,
       1097, 1107, 1122, 1129, 1151, 1163, 1164, 1179, 1205, 1274, 1298,
       1304, 1311, 1312, 1315, 1319, 1348, 1358, 1381, 1420, 1474, 1503,
       1508, 1524, 1544, 1555, 1579, 1584, 1600, 1621, 1626, 1633, 1638,
       1651, 1661, 1664, 1672, 1673, 1679, 1703, 1706, 1717, 1735, 1755,
       1768, 1769, 1776, 1777, 1823, 1845, 1854, 1861, 1890, 1905, 1914,
       1931, 1949, 1950, 1958, 1964, 1970, 1972, 2018, 2024, 2056, 2060,
       2065, 2071, 2077, 2080, 2091, 2115, 2130, 2142, 2159, 2164, 2174,
       2176, 2185, 2188, 2197, 2215, 2234, 2257, 2262, 2263, 2265, 2295,
       2299, 2311, 2319, 2328, 2338, 2341, 2344, 2351, 2390, 2392, 2396,
       2416, 2451, 2452, 2506, 2515, 2518, 2563, 2581, 2585, 2587, 2590,
       2605, 2619, 2620, 2704, 2727, 2755, 2766, 2786, 2810, 2861, 2889,
       2924, 2948, 2978, 2988, 2993, 3019, 3033, 3043, 3053, 3062, 3064,
       3073, 3075, 3076, 3085, 3101, 3102, 3116, 3118, 3126, 3139, 3140,
       3158, 3162, 3183, 3190, 3212, 3216, 3217, 3229, 3242, 3247, 3280,
       3313, 3324, 3338, 3339, 3341, 3367, 3375, 3411, 3426, 3439, 3448,
       3449, 3463, 3466, 3493, 3524, 3531, 3540, 3546, 3558, 3574, 3595,
       3619, 3661, 3662, 3666, 3667, 3685, 3691, 3697, 3714, 3732, 3744,
       3764, 3766, 3770, 3775, 3782, 3808, 3854, 3900, 3914, 3915, 3923,
       3928, 3960, 3980, 3997, 4005, 4008, 4021, 4059, 4065, 4079, 4084,
       4094, 4102, 4108, 4117, 4131, 4149, 4157, 4158, 4169, 4171, 4177,
       4178, 4190, 4215, 4222, 4259, 4277, 4281, 4292, 4303, 4312, 4328,
       4334, 4342, 4348, 4363, 4365, 4374, 4380, 4387, 4389, 4392, 4397,
       4416, 4428, 4430, 4435, 4445, 4446, 4467, 4470, 4472, 4486, 4503,
       4507, 4520, 4530, 4532, 4544, 4546, 4554, 4555, 4563, 4592, 4653,
       4662, 4663, 4669, 4689, 4690, 4705, 4721, 4747, 4754, 4762, 4774,
       4776, 4787, 4794, 4810, 4829, 4838, 4857, 4865, 4921, 4939, 4942,
       4953, 4978, 4979, 4985, 5003, 5005, 5022, 5029, 5030, 5033, 5040,
       5050, 5059, 5106, 5149, 5152, 5176, 5177, 5191, 5201, 5220, 5234,
       5249, 5250, 5264, 5322, 5323, 5324, 5353, 5361, 5373, 5385, 5402,
       5423, 5453, 5508, 5563, 5573, 5577, 5581, 5611, 5616, 5619, 5633,
       5637, 5653, 5654, 5662, 5673, 5693, 5717, 5727, 5732, 5771, 5797,
       5808, 5810, 5819, 5826, 5834, 5838, 5839, 5890, 5900, 5901, 5906,
       5908, 5927, 5947, 5950, 6012, 6019, 6024, 6041, 6046, 6053, 6085,
       6096, 6097, 6107, 6142, 6159, 6171, 6179, 6183, 6207, 6224, 6226,
       6239, 6246, 6248, 6256, 6257, 6281, 6294, 6323, 6337, 6359, 6372,
       6386, 6397, 6404, 6406, 6408, 6422, 6427, 6438, 6466, 6498, 6499,
       6509, 6523, 6547, 6551, 6594, 6601, 6615, 6617, 6621, 6622, 6633,
       6644, 6646, 6670, 6684, 6692, 6724, 6740, 6757, 6778, 6797, 6817,
       6823, 6851, 6855, 6882, 6891, 6909, 6937, 6943, 6948, 6953, 6974,
       6984, 7003, 7046, 7058, 7059, 7062, 7067, 7114, 7120, 7165, 7176,
       7179, 7197, 7205, 7281, 7287, 7296, 7313, 7324, 7329, 7339, 7342,
       7348, 7362, 7365, 7387, 7397, 7412, 7415, 7433, 7463, 7483, 7484,
       7497, 7498, 7543, 7544, 7582, 7603, 7666, 7687, 7689, 7718, 7729,
       7738, 7744, 7745, 7760, 7766, 7774, 7809, 7833, 7836, 7847, 7864,
       7866, 7897, 7942, 7954, 7985, 8004, 8006, 8010, 8037, 8056, 8061,
       8067, 8073, 8083, 8098, 8108, 8111, 8117, 8128, 8148, 8158, 8204,
       8226, 8242, 8244, 8245, 8263, 8267, 8287, 8288, 8293, 8335, 8376,
       8397, 8420, 8467, 8471, 8474, 8475, 8477, 8501, 8522, 8534, 8539,
       8541, 8551, 8554, 8580, 8582, 8588, 8621, 8622, 8666, 8669, 8670,
       8679, 8690, 8696, 8723, 8756, 8792, 8809, 8822, 8846, 8878, 8883,
       8887, 8889, 8917, 8957, 8975, 8977, 8989, 8990, 9010, 9027, 9049,
       9078, 9104, 9105, 9111, 9117, 9125, 9170, 9171, 9187, 9198, 9200,
       9248, 9251, 9259, 9262, 9269, 9331, 9339, 9359, 9381, 9388, 9412,
       9427, 9444, 9455, 9488, 9500, 9519, 9531, 9535, 9549, 9567, 9592,
       9599, 9610, 9708, 9744, 9766, 9794, 9798, 9877, 9881, 9941, 9971,
       9999]),)
0
(array([   6,    7,   18, ..., 9993, 9997, 9998]),)
nan
(array([], dtype=int64),)
19
(array([  13,  738, 2200, 2493, 2912, 5471, 5514, 6247, 6429, 8021, 9019,
       9584]),)
5
(array([  15,   16,   20,   31,   50,   51,   54,   84,  105,  127,  131,
        143,  156,  160,  187,  226,  244,  261,  274,  294,  302,  310,
        313,  335,  338,  355,  372,  386,  408,  445,  463,  469,  472,
        479,  492,  497,  528,  544,  550,  555,  563,  583,  585,  588,
        613,  680,  699,  719,  763,  768,  777,  799,  810,  812,  816,
        821,  827,  835,  851,  854,  858,  860,  901,  902,  909,  917,
        928,  938,  951,  978,  995,  997, 1009, 1019, 1021, 1056, 1092,
       1101, 1114, 1123, 1124, 1132, 1139, 1160, 1168, 1172, 1191, 1214,
       1231, 1277, 1279, 1314, 1338, 1346, 1441, 1461, 1476, 1478, 1482,
       1484, 1485, 1518, 1522, 1528, 1530, 1551, 1562, 1573, 1581, 1603,
       1611, 1618, 1665, 1680, 1681, 1696, 1721, 1745, 1790, 1816, 1821,
       1833, 1847, 1884, 1911, 1913, 1928, 1948, 1980, 1990, 2017, 2020,
       2025, 2026, 2031, 2054, 2067, 2070, 2079, 2086, 2133, 2135, 2183,
       2203, 2207, 2266, 2294, 2310, 2346, 2354, 2359, 2417, 2427, 2438,
       2440, 2448, 2459, 2484, 2512, 2538, 2539, 2552, 2566, 2568, 2573,
       2594, 2602, 2608, 2611, 2674, 2713, 2714, 2728, 2732, 2734, 2776,
       2790, 2797, 2828, 2834, 2866, 2876, 3009, 3011, 3025, 3031, 3037,
       3082, 3084, 3124, 3154, 3195, 3240, 3256, 3261, 3287, 3292, 3307,
       3319, 3321, 3331, 3336, 3342, 3346, 3365, 3372, 3380, 3398, 3417,
       3418, 3442, 3484, 3487, 3492, 3543, 3545, 3562, 3577, 3591, 3607,
       3623, 3676, 3695, 3723, 3747, 3776, 3793, 3837, 3842, 3852, 3894,
       3896, 3913, 3927, 3936, 3937, 3944, 3953, 3964, 4003, 4011, 4032,
       4033, 4035, 4048, 4050, 4082, 4088, 4091, 4116, 4132, 4140, 4161,
       4163, 4173, 4197, 4209, 4220, 4225, 4235, 4275, 4301, 4321, 4326,
       4333, 4340, 4349, 4350, 4357, 4361, 4406, 4448, 4453, 4455, 4460,
       4468, 4488, 4496, 4574, 4593, 4622, 4676, 4683, 4731, 4798, 4806,
       4817, 4822, 4834, 4842, 4846, 4855, 4861, 4871, 4899, 4962, 4974,
       4984, 4996, 5016, 5071, 5077, 5120, 5121, 5129, 5151, 5199, 5215,
       5247, 5270, 5273, 5279, 5326, 5332, 5371, 5375, 5425, 5473, 5480,
       5483, 5560, 5589, 5590, 5608, 5618, 5629, 5632, 5647, 5668, 5677,
       5694, 5699, 5765, 5780, 5805, 5825, 5841, 5875, 5896, 5911, 5941,
       5958, 5973, 6030, 6036, 6102, 6127, 6143, 6177, 6230, 6282, 6295,
       6306, 6310, 6330, 6340, 6342, 6358, 6363, 6374, 6391, 6447, 6449,
       6455, 6460, 6500, 6539, 6593, 6631, 6674, 6681, 6716, 6732, 6755,
       6777, 6795, 6800, 6804, 6811, 6816, 6818, 6841, 6850, 6870, 6897,
       6898, 6900, 6944, 6985, 7024, 7031, 7039, 7044, 7091, 7126, 7132,
       7171, 7180, 7212, 7221, 7225, 7245, 7247, 7298, 7303, 7315, 7327,
       7328, 7347, 7450, 7479, 7481, 7512, 7560, 7581, 7595, 7629, 7633,
       7635, 7661, 7694, 7717, 7762, 7792, 7797, 7808, 7818, 7827, 7848,
       7854, 7893, 7914, 7922, 7924, 7928, 7963, 7970, 7990, 7999, 8003,
       8013, 8085, 8119, 8131, 8138, 8144, 8159, 8161, 8169, 8174, 8189,
       8194, 8218, 8224, 8271, 8306, 8370, 8380, 8405, 8407, 8413, 8417,
       8447, 8465, 8468, 8483, 8547, 8556, 8558, 8568, 8603, 8607, 8635,
       8648, 8662, 8668, 8677, 8727, 8746, 8794, 8815, 8838, 8865, 8882,
       8893, 8940, 8959, 8971, 8972, 8973, 8982, 9005, 9007, 9044, 9045,
       9087, 9120, 9138, 9140, 9159, 9163, 9177, 9189, 9190, 9193, 9208,
       9281, 9283, 9293, 9322, 9384, 9410, 9423, 9471, 9489, 9513, 9558,
       9596, 9604, 9608, 9614, 9667, 9677, 9686, 9702, 9734, 9745, 9764,
       9799, 9815, 9822, 9826, 9882, 9918, 9924, 9935, 9943, 9972, 9984,
       9990]),)
10
(array([  47,   60,  124,  128,  135,  182,  188,  190,  214,  343,  365,
        411,  470,  527,  603,  666,  795,  869,  886,  905,  914,  990,
       1076, 1125, 1167, 1188, 1280, 1356, 1391, 1418, 1511, 1540, 1557,
       1708, 1726, 1805, 1808, 1971, 2006, 2013, 2042, 2132, 2144, 2260,
       2274, 2305, 2316, 2323, 2409, 2513, 2561, 2672, 2705, 2865, 2963,
       2997, 2999, 3005, 3035, 3060, 3063, 3093, 3304, 3404, 3447, 3512,
       3583, 3628, 3674, 4097, 4103, 4135, 4175, 4251, 4256, 4278, 4288,
       4304, 4306, 4427, 4504, 4521, 4527, 4536, 4538, 4551, 4575, 4605,
       4737, 4782, 4828, 4848, 4850, 4864, 5056, 5068, 5136, 5164, 5278,
       5545, 5747, 5769, 6141, 6154, 6211, 6232, 6321, 6331, 6343, 6389,
       6398, 6433, 6444, 6489, 6497, 6521, 6599, 6623, 6728, 6736, 6741,
       6780, 7017, 7088, 7150, 7190, 7346, 7352, 7461, 7517, 7531, 7562,

In [178]:
type(col_values[0])

str

In [173]:
col_values

array(['6', '2', '1', '3', '8', '4', '0', nan, '19', '5', '10', '7', '9',
       '11', '12', '14', '15', '13', '24', '23', '20', '17', '21', '22',
       '18', '30', '16', '25', '27'], dtype=object)

In [149]:
## countries VARIABLE TREATMENT (MORE COMPLICATED + TEXT) 
data.countries.drop_duplicates().values[:5]

array(['United States', 'España', 'en:United States', 'France',
       'France, United States'], dtype=object)

# 1.3 Outliers 

Let's deal with outliers

# 1.4 Estimate remaining missing values